#configuracion{
    position: absolute;
    right: 10px;             /* Pegado a la derecha */
    top: 50%;             /* Centrado verticalmente */
    transform: translateY(-50%); /* Asegura el centrado */
    font-size: 15px;      /* Tamaño del ícono */
     
  }
#icono1{
  position: absolute;
  right: auto;             /* Pegado a la derecha */
  top: 50%;             /* Centrado verticalmente */
  transform: translateY(-50%); /* Asegura el centrado */
  font-size: 28px;      /* Tamaño del ícono */
  color: darkgrey;
}
.profile-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.user-avatar {
  margin-right: 16px;
  width: 80px;
  height: auto;
}

.user-info {
  display: flex;
  flex-direction:column;
}

.user-info h2 {
  font-size: 20px;
  margin-bottom: 2px;
}
.user-info p {
  margin: 0; /* Elimina el espacio entre los párrafos */ 
  font-size: 1.1em;
  line-height: 23px; /* Ajusta la altura de la línea para reducir más el espacio entre líneas */
}

.toggle-container {
  margin: 8px;
  
}

.liked-teams-title {
  margin-left: 16px;
  font-size: 1.1em;
  font-weight: bold;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.team-card {
  width: 50%;
  margin: 10px 0px;
}

ion-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#titulo{
  font-size: 26px;
  text-align: center;
}
.team-card ion-card-title{
  font-size: 20px;
}
