<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
     Perfil
     <ion-button fill="clear"  shape="round" [routerLink]="['/tabs/configuracion']" id="configuracion">
      <ion-icon id="icono1" slot="icon-only" name="settings-sharp"></ion-icon>
    </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor del perfil del usuario -->
   <div class="profile-container">
    <ion-avatar class="user-avatar">
      <img [src]="usuarioFotoPerfil" alt="Avatar"> <!-- Foto de perfil dinámica -->
    </ion-avatar>
    <div class="user-info">
      <h2>{{ usuarioNombre }}</h2>  <!-- Nombre del usuario -->
      <p>{{ usuarioEdad }} años</p>  <!-- Edad calculada del usuario -->
      <p>Equipo ({{ usuarioEquipo }})</p>  <!-- Equipo del usuario -->
      <p>{{ usuarioCorreo }}</p>  <!-- Correo del usuario -->
    </div>
  </div>
  <!-- Toggle switch -->
  <ion-item lines="none" class="toggle-container">
    <ion-label>Interesado en pertenecer a un equipo</ion-label>
    <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
  </ion-item>

  <!-- Título de equipos que te gustan -->
  <h3 class="liked-teams-title">Equipos que te gustan</h3>

  <!-- Contenedor de equipos -->
  <div  class="teams-container">
    <div  class="team-card">
      <ion-card *ngFor="let equipo of equiposSeguidos">
        <ion-card-header>
          <ion-card-title>{{ equipo.nombre_equipo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ equipo.descripcion }}</p>
          <p>{{ equipo.tipo_deporte }}</p>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>
</ion-content>