#configuracion{
    position: absolute;
    right: 15px;             /* Pegado a la derecha */
    top: 50%;             /* Centrado verticalmente */
    transform: translateY(-50%); /* Asegura el centrado */
    font-size: 25px;      /* Tamaño del ícono */
  }
