#titulo {
  display: flex; /* Habilita flexbox en el toolbar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.header-container {
  display: flex; /* Habilita flexbox en el contenedor del logo y el título */
  align-items: center; /* Centra verticalmente el contenido */
}

#logo {
  width: 50px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Mantiene la proporción del logo */
  margin-right: 8px; /* Espacio entre el logo y el texto */
  border-radius: 50%;
  margin: 10px;
}

#nombre {
  font-size: 23px; 
}

#descanso {
  width: 50%;
  margin: 15px auto; /* Centra la imagen en el contenedor */
  border-radius: 38%;
}

#subtitulo {
  color: rgb(255, 255, 255);
  margin: 10px 0; /* Espaciado vertical */
}

#gif {
  width: 100%;
  height: auto; /* Mantiene la proporción */
}

#contendor-gif {
  width: 60px; /* Ajusta el tamaño del contenedor del GIF */
  height: 80px; /* Ajusta el tamaño del contenedor del GIF */
}

#label {
  margin:5px; /* Espaciado alrededor del label */
}

ion-card {
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.scrollable-list {
  max-height: 400px; /* Ajusta esta altura según tu diseño */
  overflow-y: auto;
}

#toggle {
  margin-left: auto; /* Empuja el toggle a la derecha */
  font-size: large;
}
.custom-toast {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
}