#titulo{
    text-align: center;
    font-size: x-large;
}
#nombre{
    text-align: center;
}
#descripcion{
    text-align: justify;
    font-size: xlarge;
}
#contenido{
    border-radius: 20px;
}
#boton{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}