<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon id="back" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title id="titulo">Configuración perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content-centered">
  <ion-title id="titulo-contenido">Opciones</ion-title>
  <ion-button (click)="presentModal()" shape="round" id="botones-opciones" expand="block">Editar perfil</ion-button>
  <ion-button (click)="rutina()" shape="round" id="botones-opciones" expand="block">Editar rutina</ion-button>
  <ion-button shape="round" id="botones-opciones" expand="block">Cerrar sesión</ion-button>
</ion-content>
