<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Busqueda
    </ion-title>
  </ion-toolbar>
  <ion-searchbar id="buscador" show-cancel-button="focus" show-clear-button="focus" clear-icon="trash-bin" value="buscar" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Equipos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Nombre equipo</ion-card-title>
      <ion-card-subtitle>Lugar </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> 
      <div class="example-button-row"></div>
      <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >Conocer mas</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <div class="example-button-row"></div>
        <ion-button mat-raised-button class="btn" [routerLink]="['/tabs/equipo']" >conocer mas</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
