<ion-header [translucent]="false">
  <ion-toolbar id="titulo1">
    <ion-title>
      <div class="header-container">
        <img src="assets/logoo.png" alt="Logo de la aplicación" id="logo">
        <span id="nombre">Búsqueda</span>
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar 
    id="buscador" 
    show-cancel-button="focus" 
    show-clear-button="focus" 
    clear-icon="trash-bin" 
    placeholder="Buscar"
    (ionInput)="buscarEquipo($event)">
  </ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title id="titulo" size="large">Equipos</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let equipo of equiposFiltrados"> 
        <ion-card class="custom-card">
          <ion-card-header id="contenido">
            <ion-card-title>{{ equipo.nombre_fantasia }}</ion-card-title> 
            <ion-card-subtitle>{{ equipo.tipo_deporte }}</ion-card-subtitle> 
          </ion-card-header>
          <ion-card-content>
            <div class="example-button-row"></div>
            <ion-button class="btn" [routerLink]="['/tabs/equipo']">Conocer más</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


