<ion-header>
    <ion-toolbar>
      <ion-button slot="start" fill="clear" (click)="irAPaginaDestino1()">
        <ion-icon id="back" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title id="titulo">Edita tu rutina</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card id="contenido">
  <ion-card-header>
    <ion-card-title id="titulo2">Seleccione el día que quiere editar rutina</ion-card-title>
  </ion-card-header>
  <ion-list >
    <ion-item >
      <ion-select label-placement="stacked" (ionChange)="onSelect($event.detail.value)">
        <ion-select-option *ngFor="let dia of diasDeLaSemana" [value]="dia">
          {{ dia }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label-placement="stacked" >
        <ion-select-option *ngFor="let rutina of rutina" [value]="rutina.nombre_tipo_rutina">
          {{ rutina.nombre_tipo_rutina }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
 <ion-button>Editar rutina</ion-button>
</ion-card>
